<!-- views/partials/footer.ejs -->
<br>
<br>
</div>
<footer>
    <h2>Contact Us</h2>
        <p>If you have any questions or would like to learn more about our services, feel free to reach out!</p>
        <p><strong>Email:</strong> <a href="mailto:info@mtugym.com">info@mtugym.com</a></p>
        <p><strong>Phone:</strong> (123) 456-7890</p>
        <p><strong>Address:</strong> 123 Fitness St, MTU City, ST 12345</p>
        <p>&copy; 2023 MTU GYM. All rights reserved.</p>
        <p>Follow us on social media for updates!</p>
    </footer>
</body>
</html>