<!-- views/partials/navbar.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Reservation Service</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <nav>
            <div class="wrapper">
                <a class="logo" href="/">Reservation Service</a>
                <ul class="navbar">
                    <li><a href="/add">Create Reservation</a></li>
                    <li><a href="/remove">Remove Reservation</a></li>
                    <li><a href="/edit">Modify Reservation</a></li>
                    <li><a href="/view">View Reservations</a></li>
                    <li><a href="/help">Help</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
    </header>