<%- include('partials/header') %>
<body>
    <h1>Add Record</h1>
    <form action="/add" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="John" pattern="[^0-9]*" title="Numbers are not allowed."required>

        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" placeholder="Smith" pattern="[^0-9]*" title="Numbers are not allowed." required>
    
        <label for="id">ID:</label>
        <input type="text" id="id" name="ID" placeholder="XXXXXXXXXX" pattern="^\d{10}$" minlength="10" maxlength="10" title="Please enter exactly 10 digits (including leading zeros)." required>
    
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" min="2000-05-11" max="2080-05-20" required>
    
        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required><br>
        <br>
        <label for="cardNum">Card Number:</label>
        <input type="text" id="cardNum" name="cardNum" pattern="^\d{15,19}$" minlength="15" maxlength="19" title="Please enter a valid card number (15-19 digits)." required><br>

        <label for="cardExp">Card Expiry:</label>
        <input type="month"  id="cardExp" name="cardExp" min="2024-10" max="2040-12" required><br>

        <label for="cardSec">Card Security Code:</label>
        <input type="text" id="cardSec" name="cardSec" pattern="^\d{3}$" minlength="3" maxlength="3" title="Please enter the card's security code (3 digits)." required><br>
    
        <button type="submit">Add Record</button>
    </form>
<%- include('partials/footer') %>            