<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Node.js Blog</title>
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/footer') %>
</body>
</html>
