/* Basic Overall Styling */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input, button{
  font-size: 18px;
}

a{
  color: white;
}

/* Navigation Styling */
nav {
  background-color: #333;
  padding: 20px 0px 20px 0px;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation Bar Styling */
.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

/* Navigation Link Styling */
.navbar li {
  margin: 0 15px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 20px 15px 20px 15px;
  border-radius: 5px;
}
.navbar a:hover {
  background-color: #555;
  color: #ffcc00;
}

/* Logo styling */
.logo {
  width: 300px;
}

/* Table styling */
.Central{
  display: flex;
  justify-content: center;
}
.viewing{
  text-align: center;
}
thead th{
  padding: 0px 10px 0px 10px;
  background-color: #ffcc00;
  border: 2px solid black;
}
tr:nth-child(odd) {background-color: #d7d7d7;}

/* Main Information Styling */
.middleInfo{
  font-size: 20px;
  padding: 0px 200px;
}

/* Footer Styling */
footer {
  background: #333;
  color: #fff;
  padding: 10px 10px;
}

/* Adaptive Styling */
@media (max-width: 932px) {
  .navbar {flex-direction: column;}
  .navbar li {margin: 10px 0;}
}